-e file:///C:/Users/Daniel%20Evans/projects/xlpro/xlpro_module
-e file:///C:/Users/Daniel%20Evans/projects/xlpro/xlpro_cli

# Bundling
pyinstaller

# xlpro_addin
pillow

# xlpro_installer

# xlpro_cli_shell_wrapper
pyinstaller_versionfile